<!DOCTYPE html>
<html ng-app="bok">
	<head>
		<title>Bok</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
		<script src="https://raw.github.com/tigbro/jquery-mobile-angular-adapter/master/compiled/jquery-mobile-angular-adapter.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/services.js"></script>
		<script src="js/controllers.js"></script>
	</head>
	<body>
		<div data-role="page">
			<div data-role="header" id="pupils">
				<h1>Pupils</h1>
				<a href="#options" data-icon="plus" class="ui-btn-right">Options</a>
			</div>
			<div data-role="content">
				<p><a href="#addpupil" data-icon="gear" data-role="button">Add New</a></p>
				<ul data-role="listview" data-filter="true" data-filter-placeholder="Filter pupils..." ng-controller="PupilsController">
					<li ng-repeat="pupil in pupils"><a href="#pupil">{{pupil.name}}</a></li>
				</ul>
			</div>
		</div>
		<div data-role="page" id="pupil" data-add-back-btn="true">
			<div data-role="header">
				<h1>Pupil</h1>
			</div>
			<div data-role="content">
				<p>The pupil</p>
			</div>
		</div>
		<div data-role="page" id="addpupil">
			<div data-role="header">
				<a href="/" data-icon="delete">Cancel</a>
				<h1>Add Pupil</h1>
				<a href="/" data-icon="check" data-theme="b">Save</a>
			</div>
			<div data-role="content">
				<p>Some pupil data to collect</p>
			</div>
		</div>
		<div data-role="page" id="options" data-add-back-btn="true">
			<div data-role="header">
				<h1>Options</h1>
			</div>
			<div data-role="content">
				<p>Some options</p>
			</div>
		</div>
	</body>
</html>
