<% include header %>
		<div data-role="page">
			<div data-role="header" data-theme="b">
				<h1>Welcome to Bok</h1>
				<a href="/auth/google" data-role="button" rel="external" data-ajax="false" data-icon="check" data-mini="true" data-inline="true">Login</a>
			</div>
			<div data-role="content">
				<h1>Welcome to Bok</h1>
				<p>Bok uses google authentication for access.</p>
				<p>One less password to remember.</p>
				<p>One less password to store.</p>
			</div>
		</div>
<% include footer %>