<% include header %>
		<div data-role="page" data-add-back-btn="true">
			<div data-role="header">
				<h1>Pupil</h1>
			</div>
			<div data-role="content">
				<p>The pupil</p>
			</div>
		</div>
<% include footer %>