<% include header %>
		<div data-role="page">
			<div data-role="header" id="pupils" data-theme="b">
				<a href="#addpupil" data-icon="plus">Add New</a>
				<h1>Pupils</h1>
				<a href="#options" data-icon="gear">Options</a>
			</div>
			<div data-role="content">
				<ul data-role="listview" data-filter="true" data-filter-placeholder="Filter pupils..." ng-controller="PupilsController">
					<li ng-repeat="pupil in pupils"><a href="/pupil/{{pupil.id}}">{{pupil.name}}</a></li>
				</ul>
			</div>
		</div>
		<div data-role="page" id="pupil" data-add-back-btn="true">
			<div data-role="header" data-theme="b">
				<h1>Pupil</h1>
			</div>
			<div data-role="content">
				<p>The pupil</p>
			</div>
		</div>
		<div data-role="page" id="addpupil" data-add-back-btn="true">
			<div data-role="header" data-theme="b">
				<!-- <a href="/" data-icon="delete">Cancel</a> -->
				<h1>Add Pupil</h1>
				<a href="/" data-icon="check" class="ui-btn-right">Save</a>
			</div>
			<div data-role="content">
				<p>Some pupil data to collect</p>
			</div>
		</div>
		<div data-role="page" id="options" data-add-back-btn="true">
			<div data-role="header" data-theme="b">
				<h1>Options</h1>
			</div>
			<div data-role="content">
				<p>Some options</p>
			</div>
		</div>
<% include footer %>